

/*************************** General Settings *********************************/


/******************************************************************************/

/********************************* HEADER *************************************/

header {
  text-align: center;
}

.wrapper {
  margin: 0 5% 1em;
  border: 3px solid black;
}

hr {
  margin: 2.5% 0;
}
/******************************************************************************/


/********************************* GAME Window ********************************/

.game-window, .fighter-choice, #player1-Div, #player2-Div, .middle  {
  display: flex;
}

/*Form*/

.fighter-choice {
  justify-content:flex-start;
}

.fighter-choice > * {
  margin: 30px 15px 0;
}

select {
  width: 150px;
}

/*/Form*/

.game-window {
  justify-content: space-around;
  margin-bottom: 30px;
}

/*Player div*/

#player1-Div, #player2-Div {
  flex-direction: column;
  text-align: center;
}

.middle {
  flex-direction: column;
  text-align: center;
}

.middle h4 {
  font-size: 1.5em;
}

/* Buttons + player infos*/

#player1-hp, #player2-hp, .fight {
  color: #fff;
  font-weight: bold;
  background-color: red;
  border: 1px solid red;
}

#player1-hp, #player2-hp {
  padding: 2px 0;
}

.fight {
  padding: 15px 10px;
  border: 2px solid red;
  transition-property: color;
  transition-property: background-color;
  transition-duration: 1s;
  cursor: pointer;
}

.fight:hover {
  color: red;
  background-color: #fff;
}

/* /Buttons + player infos*/

/*Output div*/

#outputDiv {
  width: 95%;
  height: 80px;
  margin: 20px auto;
  border: 2px solid black;
  overflow: auto;
}

#hitdmg {
  color: red;
}

/* Overlay */

.overlay {
  width: 90vw;
  height: 80vh;
  position:fixed;
  top: 10vh;
  left: 5vw;
  background-color: rgba(0, 0, 0, 0.6);
}
