

/*************************** General Settings *********************************/
h1, h2, select, option, button {
  font-family: 'Bangers', cursive;
}

h1, h2 {
  background: -webkit-linear-gradient(#FEDA00, #FF1000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.player {
  min-width: 80px;
}

html {
  background-color: #0D1112;
}

* {
  color: #fff;
}

/******************************************************************************/

/********************************* HEADER *************************************/

header {
  text-align: center;
}

.wrapper {
  margin: 0 5% 1em;
  border: 3px solid #FEDA00;
}

hr {
  margin: 2.5% 0;
  color: #FEDA00;
}
/******************************************************************************/


/********************************* GAME Window ********************************/

.game-window, .fighter-choice, #player1-Div, #player2-Div, .middle  {
  display: flex;
}

/*Form*/

.fighter-choice {
  justify-content:flex-start;
}

.fighter-choice > * {
  margin: 30px 15px 0;
}

select {
  width: 150px;
}

select option {
  color: #000;
}

button, select {
  max-height: 40px;
  color: #000;
}

.logo {
  margin-left: 8em;
}

.logo-overlay {
  margin: 1em 0;
}

/*/Form*/

.game-window {
  justify-content: space-around;
  margin-bottom: 30px;
}

/*Player div*/

#player1-Div, #player2-Div {
  flex-direction: column;
  text-align: center;
}

.middle {
  flex-direction: column;
  text-align: center;
}

.middle h4 {
  font-size: 1.5em;
}

/* Buttons + player infos*/

#player1-hp, #player2-hp {
  color: #fff;
  font-weight: bold;
  background-color: red;
  border: 1px solid red;
}

#player1-hp, #player2-hp {
  padding: 2px 0;
}

.fight {
  max-width: 180px;
  max-height: 100px;
  cursor: pointer;
}
.orange {
  color: #FEDA00;
}
.red {
  color: #FF1000;
}

/* /Buttons + player infos*/

/*Output div*/

#outputDiv {
  width: 95%;
  height: 80px;
  margin: 20px auto;
  border: 2px solid black;
  overflow: auto;
  background-color: #fff;
  color: #000;
}

#hitdmg {
  color: red;
}

/* Overlay */

.overlay {
  width: 70vw;
  height: 70vh;
  position:fixed;
  top: 15vh;
  left: 15vw;
  background-color: rgba(13, 17, 18, 0.6);
  text-align: center;
}
